<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro-Cart</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,1,0" />
</head>

<body class="home text-gray-900 overflow-x-hidden bg-gray-500 w-screen">
    <!-- nav -->
    <!-- allbg-(800/100) alltext-(900/100) -->
    <header class="md:px-10">
        <section
            class="bg-gray-100 rounded-b sm:mt-4 sm:rounded py-2 shadow-md shadow-gray-700 flex flex-wrap justify-around items-center">

            <h1 class="w-fit font-bold text-3xl text-gray-900 " style="font-family: 'Lobster', 'Pacifico',cursive;
        ">Pro-Cart</h1>
            <nav class="my-3">
                <ul class="flex flex-wrap text-lg font-semibold capitalize justify-start items-center">
                    <li><a class="rounded py-3 px-3 hover:bg-gray-700 hover:text-gray-100" href="/index.html">home</a>
                    </li>
                    <li><a class="rounded py-3 px-3 hover:bg-gray-700 hover:text-gray-100" href="/blog.html">blog</a>
                    </li>
                    <li><a class="rounded py-3 px-3 hover:bg-gray-700 hover:text-gray-100" href="/about.html">about</a>
                    </li>
                    <li><a class="rounded py-3 px-3 hover:bg-gray-700 hover:text-gray-100"
                            href="/contact.html">contact</a>
                    </li>
                </ul>
            </nav>
            <!-- web header title -->
            <ul class="flex items-center justify-center space-x-4 text-lg  font-semibold capitalize">
                <form class="h-fit"><button class="flex justify-center items-center" href="#"><span
                            class="material-symbols-outlined">
                            search
                        </span></button>
                </form>
                <li><button class="flex justify-center items-center"><span class="material-symbols-outlined">
                            account_circle
                        </span></button></li>
                <form class="h-fit"><button
                        class="rounded flex justify-center items-center bg-gray-800 py-1 px-3 hover:bg-gray-700 text-gray-100"
                        href="#">login</button></form>
            </ul>
        </section>

    </header>

    <main class="sm:pt-3 md:px-10 overflow-x-hidden space-y-8">
        <section class="h-[480px] rounded bg-gray-900 img-holder shadow-md shadow-gray-700"
            style="background: url('static/img/b4.jpg') no-repeat right;">
            <div class="h-[480px] hidden sm:block rounded bg-gray-800 "
                style="clip-path: polygon(0 0%, 50% 0, 60% 100%, 0 100%);">
                <section
                    class="text_data w-[50%] capitalize pl-10 h-full flex flex-col justify-center space-y-4 items-center">
                    <h1 class="text-2xl font-bold text-gray-100 "> welcome to <span
                            class="text-cyan-400 border-b-2 border-cyan-400">Pro-Cart</span></h1>
                    <h1 class=" font-semibold text-center text-gray-300 "> Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quos alias cupiditate non harum in ad suscipit, provident cum praesentium
                        aliquam!</h1>
                    <span class="text-cyan-400 font-semibold space-x-2">
                        <button class="rounded bg-gray-800 hover:bg-gray-900 py-2 px-3 border-2 border-gray-700 ">Know
                            More</button>
                        <button
                            class="rounded border-2 border-cyan-400 hover:border-cyan-500 hover:text-cyan-500 py-2 px-3 ">Trendings</button>
                    </span>
                </section>
            </div>
            <section class="sm:hidden flex justify-center items-center h-full bg-[rgba(0,0,0,.6)]">
                <section class="text_data capitalize px-10 h-full flex flex-col justify-center space-y-4 items-center">
                    <h1 class="text-2xl font-bold text-gray-100 "> welcome to <span
                            class="text-cyan-400 border-b-2 border-cyan-400">Pro-Cart</span></h1>
                    <h1 class=" font-semibold text-center text-gray-300 "> Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Quos alias cupiditate non harum in ad suscipit, provident cum praesentium
                        aliquam!</h1>
                    <span class="text-cyan-400 font-semibold space-x-2">
                        <button class="rounded bg-gray-800 hover:bg-gray-900 py-2 px-3 border-2 border-gray-700 ">Know
                            More</button>
                        <button
                            class="rounded border-2 border-cyan-400 hover:border-cyan-500 hover:text-cyan-500 py-2 px-3 ">Trendings</button>
                    </span>
                </section>
            </section>
        </section>
        <div class="shadow-md mb-10 shadow-gray-700 bg-gray-200 text-center  rounded py-5 text-gray-900">
            <h1 class="tracking-wider text-3xl font-semibold" style="font-family: 'Lobster', 'Pacifico',cursive;">
                Catagorys</h1>

        </div>
        <div class=" pt-3 font-bold text-center text-2xl flex items-center justify-center text-gray-100"><h3>Now You Can Also
            Get Top Quality Daily Used Products On Affordable Price <span class="pl-2 material-symbols-outlined ">
                tips_and_updates
            </span></h3></div>
        <section class="flex-wrap flex justify-center items-center text-gray-200 ">
            <!-- short cards -->

            <div class=" w-4/5 sm:w-64 lg:w-3/12 h-44 md:h-52 mx-3 my-3 border rounded-md flex items-end  "
                style="background: url('static/img/cloths.avif') no-repeat right; background-size: cover;">
                <div class=" h-2/5 sm:h-[47%] md:h-2/5 bg-[rgba(0,0,0,.5)] pl-5 pr-2 pb-4 w-full shadow shadow-gray-700">

                    <h1 class="font-semibold capitalize  text-2xl ">cloths</h1>
                    <p class="text-lg flex flex-nowrap items-center justify-between font-semibold "><h2 class="w-[75%]  float-left capitalize font-semibold break-normal ">starting with just - 4.99$</h2>
                        <a class="hover:text-cyan-400 capitalize float-right font-semibold " href="#"><span
                                class="material-symbols-outlined " style="font-size:35px">
                                arrow_circle_right
                            </span></a></p>
                </div>
            </div>
            <div class=" w-4/5 sm:w-64 lg:w-3/12 h-44 md:h-52 mx-3 my-3 border rounded-md flex items-end"
                style="background: url('static/img/electronics.avif') no-repeat right; background-size: cover;">
                <div class=" h-2/5 sm:h-[47%] md:h-2/5 bg-[rgba(0,0,0,.5)] pl-5 pr-2 pb-4 w-full shadow shadow-gray-700">

                    <h1 class="font-semibold capitalize  text-2xl ">Electronics</h1>
                    <p class="text-lg  font-semibold"><h2 class="float-left w-[75%] capitalize font-semibold break-normal ">starting with just - 7.99$</h2>
                        <a class="hover:text-cyan-400 capitalize float-right font-semibold " href="#"><span
                                class="material-symbols-outlined " style="font-size:35px">
                                arrow_circle_right
                            </span></a></p>
                </div>

            </div>
            <div class=" w-4/5 sm:w-64 lg:w-3/12 h-44 md:h-52 mx-3 my-3 border rounded-md flex items-end"
                style="background: url('static/img/accessories.avif') no-repeat right;  background-size: cover;">
                <div class=" h-2/5 sm:h-[47%] md:h-2/5 bg-[rgba(0,0,0,.5)] pl-5 pr-2 pb-4 w-full shadow shadow-gray-700">

                    <h1 class="font-semibold capitalize  text-2xl ">accessoires</h1>
                    <p class="text-lg  font-semibold"><h2 class="float-left w-[75%] capitalize font-semibold break-normal ">starting with just - 4.99$</h2>
                        <a class="hover:text-cyan-400 capitalize float-right font-semibold " href="#"><span
                                class="material-symbols-outlined " style="font-size:35px">
                                arrow_circle_right
                            </span></a></p>
                </div>
            </div>
            <div class=" w-4/5 sm:w-64 lg:w-3/12 h-44 md:h-52 mx-3 my-3 border rounded-md flex items-end"
                style="background: url('static/img/mobile.avif') no-repeat right; background-size: cover;">
                <div class=" h-2/5 sm:h-[47%] md:h-2/5 bg-[rgba(0,0,0,.5)] pl-5 pr-2 pb-4 w-full shadow shadow-gray-700">

                    <h1 class="font-semibold capitalize  text-2xl ">mobiles</h1>
                    <p class="text-lg  font-semibold"><h2 class="float-left w-[75%] capitalize font-semibold break-normal ">starting with just - 74.99$</h2>
                        <a class="hover:text-cyan-400 capitalize float-right font-semibold " href="#"><span
                                class="material-symbols-outlined " style="font-size:35px">
                                arrow_circle_right
                            </span></a></p>
                </div>
            </div>
            <div class=" w-4/5 sm:w-64 lg:w-3/12 h-44 md:h-52 mx-3 my-3 border rounded-md flex items-end"
                style="background: url('static/img/laptop.avif') no-repeat right;  background-size: cover;">
                <div class=" h-2/5 sm:h-[47%] md:h-2/5 bg-[rgba(0,0,0,.5)] pl-5 pr-2 pb-4 w-full shadow shadow-gray-700">

                    <h1 class="font-semibold capitalize  text-2xl ">laptops</h1>
                    <p class="text-lg  font-semibold"><h2 class="float-left w-[75%] capitalize font-semibold break-normal ">starting with just - 189.99$</h2>
                        <a class="hover:text-cyan-400 capitalize float-right font-semibold " href="#"><span
                                class="material-symbols-outlined " style="font-size:35px">
                                arrow_circle_right
                            </span></a></p>
                </div>
            </div>
            <div class=" w-4/5 sm:w-64 lg:w-3/12 h-44 md:h-52 mx-3 my-3 border rounded-md flex items-end"
                style="background: url('static/img/kitchen.avif') no-repeat right; background-size: cover;">
                <div class=" h-2/5 sm:h-[47%] md:h-2/5 bg-[rgba(0,0,0,.5)] pl-5 pr-2 pb-4 w-full shadow shadow-gray-700">

                    <h1 class="font-semibold capitalize  text-2xl ">kitchen Items</h1>
                    <p class="text-lg  font-semibold"><h2 class="float-left w-[75%] capitalize font-semibold break-normal ">starting with just - 3.99$</h2>
                        <a class="hover:text-cyan-400 capitalize float-right font-semibold " href="#"><span
                                class="material-symbols-outlined " style="font-size:35px">
                                arrow_circle_right
                            </span></a></p>
                </div>
            </div>
        </section>
        <!-- sale card-holder -->
        <section class=" space-y-3 shadow-b-md shadow-gray-700 ">

            <!--sale cards -->

            <div class=" rounded bg-gray-800 text-center md:text-left">
                <!-- adding cards -->
                <div
                    class="flex justify-center md:justify-between px-5 py-3 flex-wrap  md:flex-nowrap shadow-md shadow-gray-700 items-center min-h-72">
                    <div class="min-w-[30%] py-3 overflow-hidden flex items-center justify-center ">
                        <img class="border-box rounded-md  h-full" src="static/img/cloths_sale.avif" alt="card-img">
                    </div>
                    <section class="text-gray-100 capitalize px-5 pb-5 space-y-3">
                        <h1 class="title text-2xl font-bold">best deals on winter wear</h1>
                        <p class="text-gray-300 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
                            maiores assumenda alias voluptate soluta tempore, consequuntur eum excepturi hic ab cumque
                            illum, dolores unde commodi eius neque. Natus, modi totam.</p>
                        <!-- buttons -->
                        <div class="text-cyan-400 font-semibold space-x-2">
                            <button
                                class="rounded-md text-gray-900 bg-gray-200 hover:bg-gray-900 hover:text-gray-200 py-2 px-6 border-2 border-gray-700 ">Explore</button>
                        </div>
                    </section>
                </div>

            </div>

            <div class="my-3 rounded bg-gray-800 text-center md:text-left">
                <!-- adding cards -->
                <div
                    class="flex justify-center md:justify-between px-5 py-3 flex-wrap-reverse  md:flex-nowrap shadow-md shadow-gray-700 items-center min-h-72">
                    <section class="text-gray-100 capitalize px-5 pb-5 space-y-3">
                        <h1 class="title text-2xl font-bold">80% off on Premium earphons </h1>
                        <p class="text-gray-300 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
                            maiores assumenda alias voluptate soluta tempore, consequuntur eum excepturi hic ab cumque
                            illum, dolores unde commodi eius neque. Natus, modi totam.</p>
                        <!-- buttons -->
                        <div class="text-cyan-400 font-semibold space-x-2">
                            <button
                                class="rounded-md text-gray-900 bg-gray-200 hover:bg-gray-900 hover:text-gray-200 py-2 px-6 border-2 border-gray-700 ">Explore</button>

                        </div>
                    </section>
                    <div class="min-w-[30%] py-5  flex items-center justify-center ">
                        <img class="border-box rounded-md  h-full " src="static/img/earphons.avif" alt="card-img">
                    </div>
                </div>

            </div>
            <div class="my-3 rounded bg-gray-800 text-center md:text-left">
                <!-- adding cards -->
                <div
                    class="flex justify-center md:justify-between px-5 py-3 flex-wrap  md:flex-nowrap shadow-md shadow-gray-700 items-center min-h-72">
                    <div class="min-w-[30%] py-3  flex items-center justify-center ">
                        <img class="border-box rounded-md  h-full " src="static/img/phones.avif" alt="card-img">
                    </div>
                    <section class="text-gray-100 capitalize px-5 pb-5 space-y-3">
                        <h1 class="title text-2xl font-bold">best deals on 5g Smart-Phones</h1>
                        <p class="text-gray-300 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
                            maiores assumenda alias voluptate soluta tempore, consequuntur eum excepturi hic ab cumque
                            illum, dolores unde commodi eius neque. Natus, modi totam.</p>
                        <!-- buttons -->
                        <div class="text-cyan-400 font-semibold space-x-2">
                            <button
                                class="rounded-md text-gray-900 bg-gray-200 hover:bg-gray-900 hover:text-gray-200 py-2 px-6 border-2 border-gray-700 ">Explore</button>

                        </div>
                </div>
        </section>

        </div>
        </section>

        <div class="flex justify-center md:py-5">
            <button
                class="font-semibold flex items-center justify-evenly bg-gray-200 hover:bg-gray-900 hover:text-cyan-500 rounded-full px-3 py-2 text-center">All
                Offers <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span></button>
        </div>
        <!-- sponsers -->
        <div class="shadow-md mb-10 shadow-gray-700 bg-gray-200 text-center  rounded py-5 text-gray-900">
            <h1 class="tracking-wider text-3xl font-semibold" style="font-family: 'Lobster', 'Pacifico',cursive;">Top
                Brands</h1>
            <section class="flex flex-wrap justify-evenly items-center py-5">
                <img class="rounded-full w-fit inline-block my-3 shadow shadow-gray-700"
                    src="https://source.unsplash.com/random/100x100" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/100x101" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/100x103" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/101x101" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/101x102" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/101x100" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/102x100" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/102x101" alt="Brands">
                <img class="rounded-full w-fit inline-block my-3 shadow mx-2 shadow-gray-700"
                    src="https://source.unsplash.com/random/102x102" alt="Brands">
            </section>
        </div>

        <!-- upcomming sale -->
        <section class="grid-cols-2 justify-around items-center">

        </section>
        
        <!-- products card -->
        <div class="shadow-md mb-10 shadow-gray-700 bg-gray-200 text-center  rounded py-5 text-gray-900">
            <h1 class="tracking-wider text-3xl font-semibold" style="font-family: 'Lobster', 'Pacifico',cursive;">
                Featured Products</h1>

        </div>
            <div class=" pt-3 font-bold text-center text-2xl flex items-center justify-center text-gray-100"><h3>Most Beloved
                Collections of Upcoming Summer Season <span class="pl-2 material-symbols-outlined ">
                    tips_and_updates
                </span></h3></div>
        <section class="flex justify-around items-center flex-wrap">
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div>
                <img class="rounded-md py-2 " src="static/img/pic5.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div>
                <img class="rounded-md py-2 " src="static/img/pic6.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div>
                <img class="rounded-md py-2 " src="static/img/n4.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div> <img class="rounded-md py-2 " src="static/img/pic11.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div> <img class="rounded-md py-2 " src="static/img/pic10.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div> <img class="rounded-md py-2 " src="static/img/pic7.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>
            <div
                class=" w-[280px] md:w-[250px] lg:w-[290px] rounded-md border m-3 border-gray-900 px-2 shadow shadow-gray-700 bg-gray-50">
                <div class="w-full flex items-center pt-4 px-2 justify-end space-x-3 -mb-10 relative z-10"><span
                        class="cursor-pointer material-symbols-outlined">
                        add_shopping_cart
                    </span><span class="cursor-pointer material-symbols-outlined">
                        favorite
                    </span></div> <img class="rounded-md py-2 " src="static/img/pic8.jpg" alt="card1">
                <section class="text-data pb-5 px-5 space-y-2">
                    <h1 class="text-gray-500 font-semibold w-fit">addidus</h1>

                    <p class="text-yellow-400 flex"><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span><span class="material-symbols-outlined">
                            star_rate</span><span class="material-symbols-outlined">star_rate</span><span
                            class="material-symbols-outlined">star_rate</span>
                    </p>

                    <h1 class="font-semibold capitalize">T-Shert<br>price :<span class="text-green-600"> 55 $</span>
                    </h1>
                    <button
                        class="rounded-full bg-gray-900 hover:bg-gray-800 text-gray-200 py-1 px-2 block w-fit m-auto font-semibold mt-2">buy
                        now</button>
                </section>
            </div>

        </section>

            <button
                class="w-fit  m-auto  font-semibold flex items-center justify-evenly bg-gray-200 hover:bg-gray-900 hover:text-cyan-500 rounded-full px-3 py-2 text-center">View
                All Products <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span></button>
        <!-- subscribe suggestions -->
        <section class="pt-5 pb-10 px-3 md:px-0 flex space-y-3 justify-between flex-wrap  items-center"> 
            <h1 class="text-2xl  font-bold text-gray-50 capitalize mr-5" > want to grab best deals on premium products ? <br> <span class="text-lg font-semibold">subscribe us and get notifyed on every deals and amazing sales</span></h1>
            <form class="flex w-fit items-center justify-center space-x-6" action="">
                    <input class="border-2 rounded-md p-1 text-gray-700 bg-gray-100 w-52" type="text" placeholder="example@something.com">
                <button
                class="font-semibold flex items-center justify-evenly bg-gray-800 hover:bg-gray-900 text-gray-200 hover:text-cyan-500 rounded px-3 py-2 text-center">subscribe</button>
            </form>
        </section>
    </main>
    <!-- footer -->


    <footer class="text-gray-400 md:mt-10 bg-gray-900 body-font">
        <div
            class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2"
                        class="w-10 h-10 text-white p-2 bg-cyan-500 rounded-full" viewBox="0 0 24 24">
                        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                    <span class="ml-3 text-xl">Pro-Cart</span>
                </a>
                <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
            </div>
            <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CATEGORIES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">First Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Second Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Third Link</a>
                        </li>
                        <li>
                            <a class="cursor-pointer text-gray-400 hover:text-white">Fourth Link</a>
                        </li>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bg-gray-800 bg-opacity-75">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-400 text-sm text-center sm:text-left">© 2020 Pro-Cart —
                    <a href="https://twitter.com/knyttneve" class="text-gray-500 ml-1" rel="noopener noreferrer"
                        target="_blank">@knyttneve</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-400">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
        <script src="static/js/slider.js"></script>
    </footer>
</body>

</html>